.navigation-desktop:before,
.navigation-desktop:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-desktop {
  background: $white;
  width: 330px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 8000;
  -webkit-backface-visibility: hidden !important;
  zoom: 1;
  -webkit-box-shadow: 10px 0 30px $black_15;
  -moz-box-shadow: 10px 0 30px $black_15;
  box-shadow: 10px 0 30px $black_15;
  left: -235px;
  -webkit-transition: left 300ms;
  -moz-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
  #hiddenNav {
    width: 235px;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid $color_mystic_approx;
    -webkit-backface-visibility: hidden !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .searchForm {
      margin: 0;
      position: relative;
      .searchBox {
        display: block;
        width: 160px;
        height: 40px;
        margin: 40px auto;
        margin-top: 14px;
        color: $color_rolling_stone_approx;
        background: $color_gallery_approx;
        border: 1px solid $color_quill_gray_approx;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px;
        font-size: 13px;
        outline: none;
      }
      .searchButton {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 3px;
        right: 40px;
        border: none;
        background: transparent url('../img/navIcons_1x.png') -30px -343px;
        text-indent: -9999px;
      }
    }
    ul {
      list-style-type: none;
      margin: 36px 0 0;
      padding: 0;
      li {
        a {
          color: $color_gunsmoke_approx;
          display: block;
          height: 60px;
          line-height: 60px;
          text-decoration: none;
          padding-left: 10px;
          outline: none;
          -moz-outline: none;
          font-family: VWHeadWeb-Regular;
          font-weight: normal;
          font-size: 11px;
          text-transform: uppercase;
          background-color: transparent;
          &:hover {
            color: $color_tundora_approx !important;
            background-color: $color_catskill_white_approx;
          }
          .icon {
            background: transparent url('../img/navIcons_1x.png');
            display: inline-block;
            width: 55px;
            height: 60px;
            float: left;
            margin-right: 15px;
          }
          &:active {
            background-color: transparent;
          }
          &.active {
            background-color: transparent;
          }
          &.specialOffers {
            .icon {
              background-position: 0 -490px;
            }
            &:hover .icon {
              background-position: -80px -490px;
            }
            &:active .icon {
              background-position: -160px -490px;
            }
            &.active .icon {
              background-position: -160px -490px;
            }
          }
          &.special-offers {
            .icon {
              background-position: 0 -490px;
            }
            &:hover .icon {
              background-position: -80px -490px;
            }
            &:active .icon {
              background-position: -160px -490px;
            }
            &.active .icon {
              background-position: -160px -490px;
            }
          }
          &.financialServices {
            .icon {
              background-position: 0 -572px;
            }
            &:hover .icon {
              background-position: -80px -572px;
            }
            &:active .icon {
              background-position: -160px -572px;
            }
            &.active .icon {
              background-position: -160px -572px;
            }
          }
          &.financial-services {
            .icon {
              background-position: 0 -572px;
            }
            &:hover .icon {
              background-position: -80px -572px;
            }
            &:active .icon {
              background-position: -160px -572px;
            }
            &.active .icon {
              background-position: -160px -572px;
            }
          }
          &.me {
            .icon {
              background-position: 0 -174px;
            }
            &:hover .icon {
              background-position: -80px -174px;
            }
            &:active .icon {
              background-position: -160px -174px;
            }
            &.active .icon {
              background-position: -160px -174px;
            }
          }
          &.certified-pre-owned {
            .icon {
              background-position: 0 -1151px;
            }
            &:hover .icon {
              background-position: -80px -1151px;
            }
            &:active .icon {
              background-position: -160px -1151px;
            }
            &.active .icon {
              background-position: -160px -1151px;
            }
          }
          &.socialNews {
            .icon {
              background-position: 0 -728px;
            }
            &:hover .icon {
              background-position: -80px -728px;
            }
            &:active .icon {
              background-position: -160px -728px;
            }
            &.active .icon {
              background-position: -160px -728px;
            }
          }
          &.social-news {
            .icon {
              background-position: 0 -728px;
            }
            &:hover .icon {
              background-position: -80px -728px;
            }
            &:active .icon {
              background-position: -160px -728px;
            }
            &.active .icon {
              background-position: -160px -728px;
            }
          }
          &.corporate {
            .icon {
              background-position: 0 -811px;
            }
            &:hover .icon {
              background-position: -80px -811px;
            }
            &:active .icon {
              background-position: -160px -811px;
            }
            &.active .icon {
              background-position: -160px -811px;
            }
          }
          &.newsroom {
            .icon {
              background-position: 0 -983px;
            }
            &:hover .icon {
              background-position: -80px -983px;
            }
            &:active .icon {
              background-position: -160px -983px;
            }
            &.active .icon {
              background-position: -160px -983px;
            }
          }
          &.contact {
            .icon {
              background-position: 0 -892px;
            }
            &:hover .icon {
              background-position: -80px -892px;
            }
            &:active .icon {
              background-position: -160px -892px;
            }
            &.active .icon {
              background-position: -160px -892px;
            }
          }
          &.owners {
            .icon {
              background-position: 0 -648px;
            }
            &:hover .icon {
              background-position: -86px -648px;
            }
            &:active .icon {
              background-position: -172px -648px;
            }
            &.active .icon {
              background-position: -172px -648px;
            }
          }
          &.findADealer {
            .icon {
              background-position: 0 -1070px;
            }
            &:hover .icon {
              background-position: -80px -1070px;
            }
            &:active .icon {
              background-position: -160px -1070px;
            }
            &.active .icon {
              background-position: -160px -1070px;
            }
          }
          &.find-a-dealer {
            .icon {
              background-position: 0 -1070px;
            }
            &:hover .icon {
              background-position: -80px -1070px;
            }
            &:active .icon {
              background-position: -160px -1070px;
            }
            &.active .icon {
              background-position: -160px -1070px;
            }
          }
          &.build-your-own {
            .icon {
              background-position: 0 -404px;
            }
            &:hover .icon {
              background-position: -80px -404px;
            }
            &:active .icon {
              background-position: -162px -404px;
            }
            &.active .icon {
              background-position: -162px -404px;
            }
          }
          &.find-a-match {
            .icon {
              background-position: -1px -89px;
            }
            &:hover .icon {
              background-position: -81px -89px;
            }
            &:active .icon {
              background-position: -164px -77px;
            }
            &.active .icon {
              background-position: -164px -77px;
            }
          }
          &.models {
            .icon {
              background-position: 8px 0;
              background-size: 180px !important;
            }
            &:hover .icon {
              background-position: -52px 0;
            }
            &:active .icon {
              background-position: -104px 0;
            }
            &.active .icon {
              background-position: -104px 0;
            }
          }
          .text br {
            display: none;
          }
        }
        &.absorbed.hidden {
          display: none;
        }
        > :not(a) {
          display: none;
        }
      }
    }
    .siteLanguage {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      position: absolute;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 40px;
      &.nonSticky {
        position: relative;
        bottom: 0;
        margin-top: 20px;
        margin-bottom: 60px;
      }
      a {
        font-family: VWHeadWeb-Regular;
        font-weight: normal;
        color: $color_gunsmoke_approx;
        float: left;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  #visibleNav {
    width: 95px;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden !important;
    #logo {
      background: url('../img/vwLogo_1x.png') center center no-repeat;
      height: 67px;
      padding: 15px 0 30px;
      border-bottom: 1px solid $color_catskill_white_approx;
      text-indent: -9999px;
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      &.location {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      li a {
        display: block;
        height: 91px;
        line-height: 12px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid $color_mystic_approx;
        padding: 55px 10px 10px 10px;
        width: 100%;
        text-decoration: none;
        font-size: 11px;
        text-transform: uppercase;
        font-family: VWHeadWeb-Regular;
        font-weight: normal;
        background-image: url('../img/navIcons_1x.png');
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: $color_gunsmoke_approx;
        background-color: transparent;
        &:hover {
          color: $color_mine_shaft_approx;
          background-color: $color_snow_drift_approx;
        }
        &:active {
          color: $color_cerulean_approx;
          background-color: transparent;
        }
        &.active {
          color: $color_cerulean_approx;
          background-color: transparent;
        }
        &.models {
          background-position: 8px -5px;
          &:hover {
            background-position: -72px -5px;
          }
          &:active {
            background-position: -72px -5px;
          }
          &.active {
            background-position: -72px -5px;
          }
        }
        &.find-a-match {
          background-position: 8px -90px;
          &:hover {
            background-position: -72px -90px;
          }
          &:active {
            background-position: -72px -90px;
          }
          &.active {
            background-position: -72px -90px;
          }
        }
        &.find-a-dealer {
          background-position: 8px -1070px;
          &:hover {
            background-position: -72px -1070px;
          }
          &:active {
            background-position: -72px -1070px;
          }
          &.active {
            background-position: -72px -1070px;
          }
        }
        &.me {
          background-position: 8px -170px;
          &:hover {
            background-position: -72px -170px;
          }
          &:active {
            background-position: -72px -170px;
          }
          &.active {
            background-position: -72px -170px;
          }
        }
        &.location {
          background-position: 8px -974px;
          &:hover {
            background-position: -72px -974px;
          }
          &:active {
            background-position: -72px -974px;
          }
          &.active {
            background-position: -72px -974px;
          }
        }
        &.navSwitch {
          background-position: 8px -245px;
          &:hover {
            background-position: -72px -245px;
          }
          &:active {
            background-position: -72px -245px;
          }
          &.active {
            background-position: -72px -245px;
          }
        }
        &.build-your-own {
          background-position: 8px -405px;
          &:hover {
            background-position: -72px -405px;
          }
          &:active {
            background-position: -72px -405px;
          }
          &.active {
            background-position: -72px -405px;
          }
        }
        &.owners {
          background-position: 8px -647px;
          &:hover {
            background-position: -78px -647px;
          }
          &:active {
            background-position: -78px -647px;
          }
          &.active {
            background-position: -78px -647px;
          }
        }
        .text {
          margin-top: 10px;
        }
      }
    }
  }
}
.siteNavOpen {
  .navigation-desktop {
    left: 0;
    z-index: 10000;
    -webkit-backface-visibility: hidden !important;
  }
  #superTint {
    background: $black;
    visibility: visible;
  }
}
@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and(-moz-min-device-pixel-ratio: 2), only screen and(-o-min-device-pixel-ratio: 2/1), only screen and(min-device-pixel-ratio: 2), only screen and(min-resolution: 192dpi), only screen and(min-resolution: 2dppx) {
  .navigation-desktop {
    #visibleNav {
      #logo {
        background-image: url('../img/vwLogo_2x.png');
        background-size: 71px 90px;
      }
      ul li a {
        background-image: url('../img/navIcons_2x.png');
        background-size: 240px;
        &.models {
          background-position: 8px -5px;
          &:hover {
            background-position: -72px -5px;
          }
          &:active {
            background-position: -72px -5px;
          }
          &.active {
            background-position: -72px -5px;
          }
        }
        &.find-a-match {
          background-position: 8px -90px;
          &:hover {
            background-position: -72px -90px;
          }
          &:active {
            background-position: -72px -90px;
          }
          &.active {
            background-position: -72px -90px;
          }
        }
        &.find-a-dealer {
          background-position: 8px -1070px;
          &:hover {
            background-position: -72px -1070px;
          }
          &:active {
            background-position: -72px -1070px;
          }
          &.active {
            background-position: -72px -1070px;
          }
        }
        &.me {
          background-position: 8px -170px;
          &:hover {
            background-position: -72px -170px;
          }
          &:active {
            background-position: -72px -170px;
          }
          &.active {
            background-position: -72px -170px;
          }
        }
        &.location {
          background-position: 8px -974px;
          &:hover {
            background-position: -72px -974px;
          }
          &:active {
            background-position: -72px -974px;
          }
          &.active {
            background-position: -72px -974px;
          }
        }
        &.navSwitch {
          background-position: 8px -245px;
          &:hover {
            background-position: -72px -245px;
          }
          &:active {
            background-position: -72px -245px;
          }
          &.active {
            background-position: -72px -245px;
          }
        }
        &.build-your-own {
          background-position: 8px -405px;
          &:hover {
            background-position: -72px -405px;
          }
          &:active {
            background-position: -72px -405px;
          }
          &.active {
            background-position: -72px -405px;
          }
        }
        &.owners {
          background-position: 8px -1286px;
          &:hover {
            background-position: -71px -1286px;
          }
          &:active {
            background-position: -78px -1286px;
          }
          &.active {
            background-position: -78px -1286px;
          }
        }
      }
    }
    #hiddenNav ul li a {
      .icon {
        background-image: url('../img/navIcons_2x.png');
        background-size: 240px 1240px;
      }
      &.specialOffers {
        .icon {
          background-position: 0 -444px;
        }
        &:hover .icon {
          background-position: -80px -444px;
        }
        &:active .icon {
          background-position: -160px -444px;
        }
        &.active .icon {
          background-position: -160px -444px;
        }
      }
      &.special-offers {
        .icon {
          background-position: 0 -444px;
        }
        &:hover .icon {
          background-position: -80px -444px;
        }
        &:active .icon {
          background-position: -160px -444px;
        }
        &.active .icon {
          background-position: -160px -444px;
        }
      }
      &.financialServices {
        .icon {
          background-position: 0 -520px;
        }
        &:hover .icon {
          background-position: -80px -520px;
        }
        &:active .icon {
          background-position: -160px -520px;
        }
        &.active .icon {
          background-position: -160px -520px;
        }
      }
      &.financial-services {
        .icon {
          background-position: 0 -520px;
        }
        &:hover .icon {
          background-position: -80px -520px;
        }
        &:active .icon {
          background-position: -160px -520px;
        }
        &.active .icon {
          background-position: -160px -520px;
        }
      }
      &.me {
        .icon {
          background-position: 0 -156px;
        }
        &:hover .icon {
          background-position: -80px -156px;
        }
        &:active .icon {
          background-position: -160px -156px;
        }
        &.active .icon {
          background-position: -160px -156px;
        }
      }
      &.certified-pre-owned {
        .icon {
          background-position: 0 -1048px;
        }
        &:hover .icon {
          background-position: -80px -1048px;
        }
        &:active .icon {
          background-position: -160px -1048px;
        }
        &.active .icon {
          background-position: -160px -1048px;
        }
      }
      &.socialNews {
        .icon {
          background-position: 0 -663px;
        }
        &:hover .icon {
          background-position: -80px -663px;
        }
        &:active .icon {
          background-position: -160px -663px;
        }
        &.active .icon {
          background-position: -160px -663px;
        }
      }
      &.social-news {
        .icon {
          background-position: 0 -663px;
        }
        &:hover .icon {
          background-position: -80px -663px;
        }
        &:active .icon {
          background-position: -160px -663px;
        }
        &.active .icon {
          background-position: -160px -663px;
        }
      }
      &.corporate {
        .icon {
          background-position: 0 -737px;
        }
        &:hover .icon {
          background-position: -80px -737px;
        }
        &:active .icon {
          background-position: -160px -737px;
        }
        &.active .icon {
          background-position: -160px -737px;
        }
      }
      &.newsroom {
        .icon {
          background-position: 0 -878px;
        }
        &:hover .icon {
          background-position: -80px -878px;
        }
        &:active .icon {
          background-position: -160px -878px;
        }
        &.active .icon {
          background-position: -160px -878px;
        }
      }
      &.contact {
        .icon {
          background-position: 0 -810px;
        }
        &:hover .icon {
          background-position: -80px -810px;
        }
        &:active .icon {
          background-position: -160px -810px;
        }
        &.active .icon {
          background-position: -160px -810px;
        }
      }
      &.owners {
        .icon {
          background-position: 0 -590px;
        }
        &:hover .icon {
          background-position: -80px -590px;
        }
        &:active .icon {
          background-position: -160px -590px;
        }
        &.active .icon {
          background-position: -160px -590px;
        }
      }
      &.findADealer {
        .icon {
          background-position: 0 -973px;
        }
        &:hover .icon {
          background-position: -80px -973px;
        }
        &:active .icon {
          background-position: -160px -973px;
        }
        &.active .icon {
          background-position: -160px -973px;
        }
      }
      &.find-a-dealer {
        .icon {
          background-position: 0 -973px;
        }
        &:hover .icon {
          background-position: -80px -973px;
        }
        &:active .icon {
          background-position: -160px -973px;
        }
        &.active .icon {
          background-position: -160px -973px;
        }
      }
      &.build-your-own {
        .icon {
          background-position: 0 -366px;
        }
        &:hover .icon {
          background-position: -80px -366px;
        }
        &:active .icon {
          background-position: -162px -366px;
        }
        &.active .icon {
          background-position: -162px -366px;
        }
      }
      &.find-a-match {
        .icon {
          background-position: 4px -77px;
          background-size: 220px !important;
        }
        &:hover .icon {
          background-position: -69px -77px;
        }
        &:active .icon {
          background-position: -138px -77px;
        }
        &.active .icon {
          background-position: -138px -77px;
        }
      }
      &.models {
        .icon {
          background-position: 8px 0;
          background-size: 180px !important;
        }
        &:hover .icon {
          background-position: -52px 0;
        }
        &:active .icon {
          background-position: -104px 0;
        }
        &.active .icon {
          background-position: -104px 0;
        }
      }
    }
  }
}
.navigation-mobile {
  .navigation-mobile-top-nav {
    zoom: 1;
    background-color: $white;
    height: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
    a {
      color: $color_regent_gray_approx;
      display: inline-block;
      height: 60px;
      position: relative;
      text-decoration: none;
      width: 60px;
      &.vw-logo {
        width: 33px;
        height: 33px;
        margin-top: 13.5px;
        background: url('../img/vw-logo-only.png') no-repeat;
        background-size: contain;
      }
      i {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translatex(-50%);
      }
      span {
        font-weight: bold;
        font-size: 9px;
        text-transform: uppercase;
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translatex(-50%);
      }
      &.open-menu-nav {
        float: left;
        position: relative;
        width: 60px;
        height: 60px;
        margin-bottom: -2px;
        i {
          font-size: 18px;
          bottom: 28px;
          left: 27px;
        }
      }
      &.open-dealer-nav {
        float: right;
        position: relative;
        width: 60px;
        height: 60px;
        margin-bottom: -2px;

        i {
          font-size: 30px;
          line-height: 38px;
        }
      }
    }
  }
  .navigation-mobile-menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 64px);
    height: 100%;
    z-index: 120;
    background-color: $white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    transform: translatex(-100%);
    &.visible {
      transform: translatex(0);
      background-color: $color_gallery_approx;
    }
    .scrollable {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      ul {
        &.main {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            a {
              color: $color_gunsmoke_approx;
              font-family: VWHeadWeb-Regular;
              font-size: 15px;
              display: block;
              background-color: $white;
              padding: 34px 25px;
              border-bottom: 1px solid $color_mystic_approx;
              text-decoration: none;
              text-transform: uppercase;
              font-weight: 400;
              i {
                width: 44px;
                line-height: 44px;
                font-size: 48px;
                margin-right: 7px;
              }
              span {
                position: relative;
              }
            }
            &.mobile-menu-main-builder {
              i {
                font-size: 34px;
                line-height: 48px;
                margin: 0 16px 0 10px;
                &.vw-icon:before {
                  content: '\e80f';
                }
              }
              span {
                top: -3px;
              }
            }
            &.mobile-menu-main-special-offers {
              i {
                font-size: 29px;
                line-height: 48px;
                margin: 0 22px 0 10px;
                &.vw-icon:before {
                  content: '\e822';
                }
              }
              span {
                top: -3px;
              }
            }
            &.mobile-menu-main-home i {
              display: inline-block;
              height: 44px;
              background: url('../img/vw-logo-with-title.png') no-repeat;
              background-size: contain;
              margin: 0 22px 0 10px;
              position: relative;
              top: 6px;
              left: 6px;
            }
            &.mobile-menu-main-models i.vw-icon:before {
              content: '\e809';
            }
            &.mobile-menu-main-find-match i.vw-icon {
              font-size: 32px;
              margin-right: 29px;
              &:before {
                content: '\e819';
              }
            }
            &.mobile-menu-main-find-a-dealer i.vw-icon:before {
              content: '\e81d';
            }
            &.mobile-menu-main-owners i.vw-icon:before {
              content: '\e811';
            }
          }
        }
        &.sub {
          margin: 0;
          padding: 0;
          list-style-type: none;
          background-color: $color_gallery_approx;
          padding: 20px 20px 100px 20px;
          li {
            a {
              display: block;
              font-size: 13px;
              font-family: VWHeadWeb-Regular;
              font-weight: normal;
              text-decoration: none;
              text-transform: uppercase;
              line-height: 30px;
              padding: 10px 0 16px 0;
              color: $color_gunsmoke_approx;
              i {
                width: 36px;
                height: 36px;
                font-size: 32px;
                line-height: 20px;
                margin-left: 5px;
              }
              span {
                position: relative;
                top: -5px;
              }
            }
            &.mobile-menu-sub-contact i.vw-icon:before {
              content: '\e81c';
            }
            &.mobile-menu-sub-newsroom i {
              font-size: 24px;
              margin: 0 9px 0 8px;
              &.vw-icon:before {
                content: '\e81b';
              }
            }
            &.mobile-menu-sub-me i {
              font-size: 24px;
              margin: 0 6px 0 12px;
              &.vw-icon:before {
                content: '\e818';
              }
            }
            &.mobile-menu-sub-financial-services i {
              font-size: 24px;
              margin: 0 9px 0 8px;
              &.vw-icon:before {
                content: '\e80c';
              }
            }
            &.mobile-menu-sub-corporate i {
              font-size: 24px;
              margin: 0 9px 0 8px;
              &.vw-icon:before {
                content: '\e81b';
              }
            }
          }
        }
      }
      .siteLanguage {
        position: relative;
        padding: 0 40px;
        bottom: 75px;
        margin-bottom: 45px;
        a {
          color: $color_gunsmoke_approx;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    ul.bottom {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        display: inline-block;
        flex-grow: 1;
        a {
          display: block;
          height: 74px;
          background-color: $color_cerulean_approx;
          border-right: 1px solid $white;
          text-align: center;
          color: $white;
          text-decoration: none;
          font-family: VWHeadWeb-Regular;
          font-weight: normal;
          i {
            display: block;
            font-size: 22px;
            width: 36px;
            margin: 0 auto;
            padding-top: 15px;
          }
          span {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        &.mobile-menu-bottom-estimate {
          i {
            font-size: 32px;
            line-height: 20px;
            width: 44px;
            padding-top: 14px;
            margin-bottom: -4px;
          }
          span {
            top: -3px;
          }
        }
        &:last-child a {
          border: none;
        }
      }
    }
  }
  .navigation-mobile-tint {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 110;
    background-color: $black_75;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
  .navigation-mobile-close {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 10px;
    z-index: 120;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &.visible {
      visibility: visible;
      opacity: 1;
    }
    &.on-right {
      right: 10px;
    }
    &.on-left {
      left: 10px;
    }
    i {
      display: block;
      width: 44px;
      height: 44px;
      font-size: 15px;
      line-height: 44px;
      text-align: center;
      background-color: white;
      color: #666;
      border-radius: 44px;
    }
  }
  .sub {
    padding: 20px 0;
    background-color: $color_catskill_white_approx;
    li {
      display: block;
      a {
        .icon {
          position: relative;
          width: 54px;
          height: 43px;
          float: left;
          bottom: 12px;
          left: 0;
          background: url('../img/navIcons_mobile_2x.png') no-repeat -104px -157px;
          background-size: 800px;
        }
        .text {
          font-size: 12px;
          font-family: VWHeadWeb-Regular;
          letter-spacing: .5px;
        }
        &.contact .icon {
          background-position: -109px -60.5px!important;
          width: 55px;
          height: 55px;
        }
        &.me .icon {
          background-position: -109px -346.5px!important;
        }
        &.newsroom .icon {
          background-position: -109px -402px!important;
        }
        &.corporate .icon {
          background-position: -109px -175.5px!important;
        }
        &.financial-services .icon {
          background-position: -109px -288px!important;
        }
      }
    }
  }
  li a {
    .icon {
      height: 55px;
      width: 55px;
      position: relative;
      float: left;
      margin-right: 7px;
      bottom: 14px;
      background: url('../img/navIcons_mobile_2x.png') no-repeat;
      background-size: 820px;
      top: -13px;
      left: -9px;
    }
    .text {
      font-size: 17px;
      font-family: VWHeadWeb-Regular;
      letter-spacing: .5px;
    }
    &.home .icon {
      display: inline-block;
      height: 44px;
      background: url(../img/vw-logo-with-title.png) no-repeat;
      background-size: contain;
      position: relative;
      background-position: center !important;
      top: -10px;
      left: -10px;
    }
    &.models .icon {
      background-position: -3px -65px!important;
    }
    &.find-a-match .icon {
      background-position: -3px -123px!important;
    }
    &.find-a-dealer .icon {
      background-position: -3px -182px!important;
    }
    &.build-your-own .icon {
      background: url('../img/navIcons_mobile_builder.png') no-repeat!important;
      background-position: center 8px!important;
      background-size: 60%!important;
    }
    &.owners .icon {
      background-position: -3px -417px!important;
    }
    &.special-offers .icon {
      background-position: -3px -299px!important;
    }
  }
}
.navigation {
  position: relative;
  z-index: 120;
  .navigation-desktop {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
}
@media(min-width: 768px) {
  .navigation {
    .navigation-desktop {
      display: block;
    }
    .navigation-mobile {
      display: none;
    }
  }
}
@media(max-width: 320px) {
  .navigation-mobile li a .text {
    font-size: 14px;
  }
}
@media(max-width: 375px) {
  .navigation-mobile li a .text {
    font-size: 15px;
  }
}
#superTint {
  background: transparent;
  display: block;
  height: 100%;
  left: 0;
  transition: all 300ms;
  opacity: 0.75;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 110;
}
.siteNavHideMobile .navigation-mobile .navigation-mobile-top-nav {
  transform: translatey(-100%);
}